.shop-0 {
    background-color: #FF9999;
}

.shop-1 {
    background-color: #FFAA00;
}

.shop {
    letter-spacing: -1em;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    margin: 0;
    background-color: white;
}

.paging{
    text-align: center;
}

.shop-image {
    display: inline-block;
    letter-spacing: normal;
    white-space: normal;
    width: 30%;
    height: auto;
    background-color: #AAAAAA;
}

.shop-info {
    vertical-align: top;
    display: inline-block;
    letter-spacing: normal;
    white-space: normal;
    width: 70%;
}
