{% extends "layout.html" %}

{% block head %}
<!--スタイル部分-->
<style>
    .shop-image{
        width: 70%;
    }
    .shop-name{
        font-size: 1.5em;
    }
</style>
{% endblock %}

{% block title %}
<!--タイトル部分-->
詳細画面
{% endblock %}

{% block content %}
<!--コンテンツ部分-->
<div class="level-1"><a class="button" href="./index">検索画面に戻る</a></div>
<br>
<div class="level-1">
    <div class="level-2"><strong class="shop-name">{{shop.name}}</strong></div>
    <div class="level-2" style="text-align:center;"><img class="shop-image" src="{{shop.photo}}" alt="画像"></div>

    <div class="level-2">
        <strong>ジャンル</strong><br>
        {{ shop.genre }}<br>
    </div><div class="level-2">
        <strong>住所</strong><br>
        {{shop.address}}<br>
    </div><div class="level-2">
        <strong>アクセス</strong><br>
        {{shop.access}}
    </div><div class="level-2">
        <strong>営業時間</strong><br>
        {{ shop.open|safe }}<br>
    </div><div class="level-2">
        <strong>定休日</strong><br>
        {{ shop.close }}<br>
    </div><div class="level-2">
        <strong>値段</strong><br>
        {{shop.budget}}<br>
    </div><div class="level-2">
        <strong>カード利用</strong><br>
        {{shop.card}}<br>
    </div><div class="level-2">
        <strong>飲み放題</strong><br>
        {{ shop.free_drink }}<br>
    </div><div class="level-2">
        <strong>食べ放題</strong><br>
        {{ shop.free_food }}<br>
    </div><div class="level-2">
        <strong>サイト</strong><br>
    <a href="{{shop.urls}}">{{shop.urls}}</a>
    </div><div class="level-2">
        <strong>地図</strong><br>
        <a href="{{shop.coupon_urls}}">{{shop.coupon_urls}}</a>
    </div>
</div>
<div><br></div>
{% endblock %}
